  .layout-admin { 
    display:flex; 
    min-height:100vh; 
   }
    .sidebar { 
        width: 260px; 
        background: #0F172A; 
        color: white; 
        padding: 1rem; 
    }
    .main { 
        flex:1; 
        display:flex; 
        flex-direction:column; 
    }
    .content { 
        padding-top: 1rem; 
        padding-bottom: 2rem; 
    }
    @media(max-width: 768px) {
      .sidebar { display:none; }
    }