    .layout-warden { 
        display:flex; 
        min-height:100vh; 
    }
    .sidebar { 
        width: 240px; 
        background: #0F172A; 
        color: white; padding: 1rem;
    }
    .main { 
        flex:1; 
        display:flex; 
        flex-direction:column; 
    }
    @media(max-width: 768px)
     {
         .sidebar { display:none; } 
     }